*{
    margin: 0;
    padding: 0;
    list-style-type: none
}

header,
nav {
    width: 80%;
    margin: auto;
    min-width: 1500px;
}

main{
    width: 100vw;
    height: 70vh;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: darkgray;
}
/* ----------------------------------- */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ----------- .logo 부분 --------------- */
header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    /* background-color: #5ce5cf; */
  }
  
  header div.logo {
    margin-right: 40px;
  }

  /* ----------- .search 부분 --------------- */
header div.search {
    flex: 1;
    margin-right: 40px;
  }
  
  header div.search input {
    all: unset;
    width: 60%;
    min-width: 400px;
    height: 100%;
    background-color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border: 2px solid #5ce5cf;
    border-radius: 30px;
  }

/* ----------- .login 부분 --------------- */
header ul.login {
    display: flex;
    flex-direction: row;
    min-width: 50px;
  }
  
  header ul.login li:not(:first-child) {
    margin-left: 10px;
  }
  
  header ul.login a {
    display: block;
    width: 50px;
    height: 55px;
    text-indent: -9999em;
  }
  
  .mypage {
    background: url(./image/user\ icon-1.png) center/100% 100%;
    width: 45px;
    height: 45px;
    margin-top: 10px;
  }
  
  .cart {
    background: url(./image/cart.png) center/100% 100%;
    margin-top: 5px;
  }
  
  .like {
    background: url(./image/heart.png) center/100% 100%;
    width: 45px;
    height: 45px;
    margin-top: 12px;
  }

/* ----------- .category 부분 --------------- */

.category_bar ul.category {
    box-sizing: border-box;
  }
  
  .category_bar ul.category>li {
    border-bottom: 5px solid white;
  }
  
  .category_bar>div>ul.category {
    /* background-color: #ffe4c4; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
  }
  
  .category_bar ul>li {
    position: relative;
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
  
  .category_bar ul.category>li>a {
    color: black;
  }
  
  .category_bar ul.category>li:hover>a {
    color: #5ce5cf;
  }
  
  .category_bar ul>li:hover {
    border-bottom-color: #5ce5cf;
  }
  
  .category_bar>div>ul.category>li {
    float: left;
    line-height: 50px;
    padding: 10px;
  }
  
  .category_bar::after {
    content: "";
    display: block;
    clear: left;
  }
  
  .category_bar ul ul {
    display: none;
    position: absolute;
    background-color: white;
    color: gray;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    padding: 10px 0;
    /* vertical-align: middle; */
    text-align: center;
  }
  
  .category_bar ul.category ul li {
    width: 100%;
  }
  
  
  .category_bar ul>li:hover ul {
    display: block;
    z-index: 1;
  }

/* ----------------inner--------------------- */
.inner_box{
    width: 600px;
    height: 99%;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px auto;
}

.inner_title{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: #5ce5cf
}

.flex-terms{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#terms_text{
    width: 99%;
}


.terms_text{
    overflow: scroll;
    margin: auto;
}



.agree_btn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.checking_term,
.all_agree{
  font-weight: bold;
}
