/* ------------ 기본 세팅 --------------- */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    display: block;
    min-width: 1000px;
    font-family: S-CoreDream-3Light;
}

main {
    margin-top: 50px;
}

main,
section {
    width: calc(1920px * .7);
    padding: 20px;
}

/* ============================== */
/* main part */

main h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cartselect_info i,
.cartselect_info ul,
.cartselect_info li {
    display: inline-block;
    padding: 10px;
}

.cartselect_info i {
    padding-right: 0;
}

main hr {
    border: 0px;
    height: 1px;
    background-color: #CACACA;
}

/* ------------ 기본 세팅 --------------- */

/* =================================== */
header,
nav,
main,
footer {
    width: 80%;
    margin: auto;
    min-width: 1500px;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.slide_end {
    margin-top: 10px;
}

/* ----------- .logo 부분 --------------- */
header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 20px;
    /* background-color: #5ce5cf; */
}

.top_banner {
    display: flex;
    background-color: #5ce5cf;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.top_banner a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

header div.logo {
    margin-right: 20px;
}

header div a>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

/* ----------- .search 부분 --------------- */
header div.search {
    flex: 1;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

header div.search input {
    all: unset;
    width: 60%;
    min-width: 400px;
    margin-top: 50px;
    height: 40%;
    background-color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border: 2px solid #5ce5cf;
    border-radius: 30px;
}

/* ----------- .login 부분 --------------- */
header ul.login {
    display: flex;
    flex-direction: row;
    min-width: 50px;
    margin-top: 50px;
}


header ul.login .go_login {
    display: block;
    width: 50px;
    height: 55px;
    text-indent: -9999em;

}

header ul .login_info {
    background-color: white;
    width: 200px;
    display: none;
    box-shadow: 3px 3px 3px rgb(197, 197, 197);
}

header ul>.mypage:hover>.login_info {
    position: absolute;
    display: block;
    z-index: 2;
    top: 100%;
}

header ul>.mypage>.login_info li:hover {
    font-weight: bold;
    background-color: #5ce5cf;
    transition: 1s;
}

header>ul .login_info li:hover a {
    color: white;
}

header>ul .login_info li a {
    text-align: center;
    padding: 20px;
    color: black;
    display: block;
}

.mypage {
    position: relative;
    background: url(../img/user\ icon-1.png) center/80% 80% no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 10px;
}

.mypage:hover {
    background: url(../img/user\ icon\ hover.png) center/80% 80% no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 10px;
}

.cart {
    background: url(../img/cart.png) center/80% 80% no-repeat;
    margin-top: 5px;
    margin-left: 10px;
    width: 55px;
    height: 55px;
}

.cart:hover {
    background: url(../img/cart\ hover.png) center/80% 80% no-repeat;
    margin-top: 5px;
    margin-left: 10px;
    width: 55px;
    height: 55px;
}

.like {
    background: url(../img/heart.png) center/80% 80% no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 12px;
    margin-left: 10px;
}

.like:hover {
    background: url(../img/heart_hover.png) center/80% 80% no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 12px;
    margin-left: 10px;
}

/* ----------- .category 부분 --------------- */

.category_bar ul.category {
    box-sizing: border-box;
}

.category_bar ul.category>li {
    border-bottom: 5px solid white;
}

.category_bar>div>ul.category {
    /* background-color: #ffe4c4; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.category_bar ul>li {
    position: relative;
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 19px;

}

.category_bar ul>li li:hover {
    font-weight: bold;
    background-color: #5ce5cf;
    transition: 1s;
}

.category_bar ul>li li {
    font-size: 16px;
    font-weight: initial;
}

.category_bar ul.category>li>a {
    color: black;
}

.category_bar ul.category>li:hover>a {
    color: #5ce5cf;
}

.category_bar ul>li:hover {
    border-bottom-color: #5ce5cf;
}

.category_bar>div>ul.category>li {
    float: left;
    line-height: 50px;
    padding: 10px;
}

.category_bar::after {
    content: "";
    display: block;
    clear: left;
}

.category_bar ul ul {
    display: none;
    position: absolute;
    background-color: white;
    color: gray;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 3px 3px 3px rgb(197, 197, 197);
}

.category_bar ul.category ul li {
    width: 100%;
}

.category_bar ul>li:hover ul {
    display: block;
    z-index: 1;
}

.category_bar ul.category ul>li>a {
    color: black;
}

.category_bar ul.category ul>li:hover>a {
    color: white;
}

/* ----------- .main 부분 --------------- */

main .fixed-banner {
    display: flex;
    position: relative;
}

main>.fixed-banner a>.right_TOP {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 5px;
    bottom: 100px;
    Z-index: 1;
    background-color: lightgray;
    border-radius: 50px;
}

main>.fixed-banner a>.right_TOP {
    bottom: 140px;
}

main>.fixed-banner a>.right_FAQ {
    bottom: 60px;
}

main>div.small_box {
    display: flex;
    justify-content: space-around;
    line-height: 100px;
    text-indent: -9999px;
}

/* -----------------footer부분-------------------- */

footer {
    margin-top: 5em;
    width: 100%;
    /* background-color: hsla(53, 100%, 98%, 0.955); */
}

footer .hr_footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer>.under {
    width: 1450px;
    margin: 5px auto;
    display: flex;
    /* justify-content: space-evenly; */
}

footer .under_menu1 {
    font-size: 12px;
    padding: 10px;
    display: flex;
    position: relative;
    margin-left: -50px;
}

footer .under_menu1>li {
    margin: 0 50px;
    display: flex;
}

footer .under_menu1 a,
footer .info,
footer .info button {
    color: hwb(0 49% 50%);
}

footer .info {
    font-size: 12px;
    width: 1450px;
    margin: 40px auto 0 auto;
    line-height: 150%;
    padding-bottom: 40px;
}

footer .info>p {
    text-align: end;
}

footer ul>li>button {
    cursor: pointer;
    background: none;
    border: none;
}

footer .icon {
    display: flex;
    justify-content: end;
}

footer .icon a {
    margin: 1em;
    margin-top: -50px;
}


/* ============================ */
/* 결제 페이지 */
/* 주문 상품 */
.shop_orderpg {
    margin: 0 auto;
    width: calc(1920px * .6);
    margin-bottom: 40px;
}

.shop_orderpg h2 {
    font-size: 18px;
    padding: 0 0 15px 0px;
}

main hr {
    border: 0px;
    background-color: black;
}

form span {
    font-size: 14px;
}

.shop_oderinfo,
.shop_deliinfo,
.shop_orderlist,
.shop_ordercoupon,
.shop_orderpay,
.shop_orderway,
.shop_orderprivacy {
    margin-bottom: 100px;
}

.oderlistimg {
    display: flex;
    width: 110px;
    height: 110px;
    padding: 20px 20px 20px 5px;
}

.shop_ordername,
.shop_orderphone,
.shop_ordermail {
    margin: 20px 0 20px 5px;
}

.orderlist1,
.orderlist2 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.ordername1,
.ordername2 {
    display: flex;
    width: 800px;
    color: black;
}

.orderlistimgbox {
    display: flex;
}

.order_number {
    width: 100px;
    margin-left: 30px;
}

/* 주문자 정보 */
.shop_oderinfo span {
    display: inline-block;
    width: 80px;
}

.email1 {
    display: inline;
}

.shop_oderinfo input {
    font-family: S-CoreDream-3Light;
    width: 150px;
    height: 30px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 3px;
    padding: 5px;
}

.shop_orderphone input {
    width: 95px;
}

.shop_oderinfo select {
    font-family: S-CoreDream-3Light;
    width: 50px;
    height: 40px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 3px;
}

.email1 {
    display: inline-block;
    margin: 0 10px;
}

.shop_ordermail select {
    width: 150px;
}

/* 배송 정보 */

.delivery_info1 {
    display: inline-block;
    padding: 20px 30px 30px 0;
}

.delivery_infonav {
    font-size: 14px;
    padding: 5px 5px 5px 0;
    color: grey;
}

.shop_deliinfo select {
    font-family: S-CoreDream-3Light;
    width: 445px;
    height: 40px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 3px;
    padding: 5px;
}

.shop_defaultad {
    display: flex;
    width: 165px;
    align-items: center;
    margin: 0;
}

.shop_defaultad input {
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
}

.shop_defaultad span {
    margin-left: 10px;
    margin-bottom: 15px;
}

/* 쿠폰 적립금 */

.shop_ordercoupon,
.shop_orderway {
    margin: 0;
    width: calc(1920px * .4);
    margin-bottom: 100px;
}


.order_coupon {
    padding: 20px 20px 20px 0;
}

.order_coupon button {
    padding: 10px;
    width: 600px;
    color: rgb(167, 167, 167);
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(182, 182, 182);
    border-radius: 3px;
    font-family: S-CoreDream-3Light;
    margin-left: 50px;
}

.order_point input {
    padding: 10px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 3px;
    margin-left: 35px;
    color: rgb(167, 167, 167);
}

.order_point button {
    box-sizing: border-box;
    padding: 7px 10px 10px 10px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 3px;
    background-color: white;
    font-family: S-CoreDream-3Light;
    width: 145px;
}

.order_point div {
    font-size: 13px;
    padding: 5px;
    margin-left: 108px;
}

.order_point strong {
    color: #5ce5cf;
}

.order_coupon button:hover,
.order_point button:hover {
    background-color: rgb(224, 224, 224);
    color: rgb(46, 46, 46);
}

/* 쿠폰 & 결제 div */
.orderalldiv {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.couponpaydiv hr,
.shop_orderway hr {
    width: 95%;
    margin: 0;
}

/* 결제 수단 선택 */

.order_select {
    display: flex;
    height: 500px;
}

/* 결제 금액 선택 */

.shop_orderpay {
    margin: 0;
    width: calc(1920px * .2);
    margin-bottom: 40px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 2%;
    padding: 20px;
    background-color: rgb(250, 250, 250);
    position: sticky;
    top: 50px;
}

.shop_orderpay hr {
    border: 0px;
    height: 1px;
    background-color: #dfdfdf;
}

.order_allpay,
.order_deliverypay,
.order_couponpay,
.order_pointpay,
.order_totalpay {
    display: flex;
    justify-content: space-between;
}

.shop_orderpay div {
    font-size: 14px;
    padding: 3px 3px 3px 0;
}

.shop_orderpay span {
    font-size: 18px;
}

.order_totalpay div {
    margin-top: 10px;
    font-size: 21px;
}

.order_totalpay div strong {
    color: #5ce5cf;
    font-size: 24px;
}

.order_pointbox {
    display: flex;
    justify-content: right;
}

.order_pointbox div {
    font-size: 12px;
    margin-left: 5px;
}

.order_box {
    width: 30px;
    border-radius: 5px;
    background-color: #5ce5cf;
    text-align: center;
    color: white;
}

/* 개인정보 수집 제공 */

.orderprivacybox {
    display: flex;
    flex-direction: column;
}

.shop_orderprivacy button {
    padding: 10px;
    width: 250px;
    color: white;
    border-radius: 3px;
    background-color: #5ce5cf;
    font-size: 16px;
    font-family: S-CoreDream-3Light;
    border: 0;
}