@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    display: block;
    min-width: 1000px;
    font-family: S-CoreDream-3Light;
}


/* ============================== */
/* main part */
main {
    margin: 50px 0 50px 0;
}

main strong {
    font-size: 20px;
}

main hr {
    border: 0px;
    height: 1px;
    background-color: #CACACA;
}

.shopproduct {
    display: flex;
    width: calc(1920px * .7);
    margin: 50px auto;
    margin-bottom: 80px;
    padding: 20px;
}

.shopdetail_all {
    position: relative;
    width: calc(1920px * .7 * .4);
    margin-top: 10px;
    overflow: hidden;
}

.shopimg_a {
    height: 500px;
    width: calc(1920px * .7 * .6);
}

/* 상품 이미지 */
.shopimg_a {
    position: relative;
    overflow: hidden;
}

.mainbear {
    width: 500px;
    height: 500px;
    margin-left: 60px;
}

.smallbear_1,
.smallbear_2 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-radius: 15%;
}

.smallbear_1 {
    bottom: 5px;
}

.smallbear_2 {
    bottom: 120px;
}

/* 상품 판매 name, details */
.shopname_a,
.shopdetail_a,
.shopselect,
.totalpay,
.shopbuttons {
    padding: 15px;
}

.shopdetail_a dt,
.shopdetail_a dd {
    display: inline-block;
    padding: 10px 10px 10px 0px;
}

/* 상품 선택*/
.shopselect {
    padding: 0px 10px 10px 20px;
}

select {
    margin-left: 15px;
    width: 300px;
    padding: 5px 0;
}

/* 상품 금액 */
.totalpay .charge {
    margin-left: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #5CE5CF;
}

/* 버튼 */
.shoppay_bt,
.shopcart_bt,
.shoplike_bt {
    padding: 18px;
    color: white;
    border: 0;
    font-size: 18px;
    font-family: S-CoreDream-3Light;
}

.shoppay_bt {
    width: calc(1920px * .7 * .4 - 15px);
    background-color: #5CE5CF;
    margin: 0 10px 10px 0;
}

.shopcart_bt,
.shoplike_bt {
    position: absolute;
    width: calc((1920px * .7 * .4 - 40px)/2);
    background-color: #CACACA;
    line-height: 18px;
}

.shoplike_bt {
    right: 0;
    margin: 0 0 0 10px;
}

/* 버튼 호버 */
.shoppay_bt:hover {
    background-color: #43a796;
}

.shopcart_bt:hover,
.shoplike_bt:hover {
    background-color: #999999;
}

.shopimg_a .mainbear:hover {
    transform: scale(1.5);
    transition: all 0.2s linear;
}

/* ========================================= */
/* nav part */

nav {
    width: calc(1920px * .8);
    margin: auto;
}

nav hr {
    border: 0px;
    height: 1px;
    background-color: #dddddd;
}

.productinfo_detail {
    padding: 20px;
    border-bottom: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
}

.productinfo_detail li {
    display: inline;
    padding: 20px;
    margin-left: 150px;
}

.productinfo_detail a {
    text-decoration: none;
    color: black;
}

.productinfo_detail li:hover {
    border-bottom: 4px solid #5CE5CF;
}

.productinfo_detail li:hover a {
    color: #5CE5CF;
}

/* ========================================= */
/* section part */

section {
    width: calc(1920px * .8);
    padding: 40px 40px 0 40px;
    margin: auto;
}

.shopexplan_1 {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 50px 0;
}

/* 배송 관련 table */

.delivery_info {
    margin: 0px 190px;
    padding: 30px 0 40px 0;
}

.delivery_info table {
    padding: 40px 20px 20px 0px;
    font-size: 13px;
    color: rgb(92, 92, 92);
}

.delivery_detail th,
.delivery_detail td {
    border-bottom: solid 1px rgb(228, 228, 228);
    padding: 15px;
    text-align: left;
}

.delivery_detail td {
    padding-left: 30px;
}

.exchangetable td {
    padding-left: 92px;
}

.delivery_info_list {
    font-size: 13px;
    color: rgb(92, 92, 92);
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    list-style-type: initial;
}

.delivery_info_list li {
    margin-bottom: 7px;
}

/* =============리뷰 테이블=============== */

.board_list {
    position: relative;
    left: 12%;
}

.board_info {
    padding-bottom: 40px;
}

.board_list h2 {
    font-size: 18.72px;
    padding-top: 30px;
}

.board_list span {
    font-size: 13px;
    color: rgb(107, 107, 107);
}

.board_table {
    width: calc(1920px * .6);
    border-top: 1px solid #bbbbbb;
    cursor: pointer;
    text-align: center;
    border-collapse: collapse;
}

.board_table th,
.board_table td {
    font-size: 14px;
}

.board_table th {
    border-bottom: 1px solid #bbbbbb;
    line-height: 5vh;

}

.board_table td {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.board_table p {
    background-color: #5CE5CF;
    color: white;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
}

/* -----글 내용 : 자바스크립트로 구현 해야 하는걸 css로 구현해봄 ---------- */
.board_table tbody ul>li {
    height: 0;
    transition: .5s;
    transform: scaleY(0);
}

.board_table tbody ul:active li {
    visibility: visible;
    font-size: .8em;
    transition: .5s;
    transform: scaleY(1);
}

/* --------------------  버튼  -------------------------  */
.btns {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: calc(1920px * .6);
    margin-left: 20px;
}

.btn_left,
.btn_right {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    text-indent: -9999em;
    margin: 1em;
}

.btn_left {
    background: url(../img/left.png) no-repeat 0/100%;
}

.btn_right {
    background: url(../img/right.png) no-repeat 0/100%;
}

/* .btn_left:hover {
    background: url(../icon/left_hover.png) no-repeat 0/100%;
} */

.btn_right:hover {
    background: url(../img/right_hover.png) no-repeat 0/100%;
}

/* ======================================== */
/* aside part */

aside {
    position: relative;
    width: calc(1920px * .8);
    margin: auto;
    padding: 40px;
}

aside a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

aside h3 {
    position: absolute;
    left: 14%;
    top: 480px;
}

.related_detail {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    margin-top: 70px;
    text-decoration: none;
}

.related_detail img {
    width: 300px;
    height: 300px;
}

.relatedpay_1,
.relatedpay_2,
.relatedpay_3 {
    padding: 10px;
    font-size: 13px;
}

.relatedname_1,
.relatedname_2,
.relatedname_3 {
    font-size: 16px;
    display: block;
}

aside strong {
    font-size: 24px;
    color: #5CE5CF;
    margin-right: 10px;
}

/* =================================== */
/* ------------ 기본 세팅 --------------- */

body {
    font-family: S-CoreDream-3Light;
}

header,
nav,
main,
footer {
    width: 80%;
    margin: auto;
    min-width: 1500px;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.slide_end {
    margin-top: 10px;
}

/* ----------- .logo 부분 --------------- */
header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 20px;
    /* background-color: #5ce5cf; */
}

.top_banner {
    display: flex;
    background-color: #5ce5cf;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.top_banner a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

header div.logo {
    margin-right: 20px;
}

header div a>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

/* ----------- .search 부분 --------------- */
header div.search {
    flex: 1;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

header div.search input {
    all: unset;
    width: 60%;
    min-width: 400px;
    margin-top: 50px;
    height: 40%;
    background-color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border: 2px solid #5ce5cf;
    border-radius: 30px;
}

/* ----------- .login 부분 --------------- */
header ul.login {
    display: flex;
    flex-direction: row;
    min-width: 50px;
    margin-top: 50px;
}


header ul.login .go_login {
    display: block;
    width: 50px;
    height: 55px;
    text-indent: -9999em;

}

header ul .login_info {
    background-color: white;
    width: 200px;
    display: none;
    box-shadow: 3px 3px 3px rgb(197, 197, 197);
}

header ul>.mypage:hover>.login_info {
    position: absolute;
    display: block;
    z-index: 2;
    top: 100%;
}

header ul>.mypage>.login_info li:hover {
    font-weight: bold;
    background-color: #5ce5cf;
    transition: 1s;
}

header>ul .login_info li:hover a {
    color: white;
}

header>ul .login_info li a {
    text-align: center;
    padding: 20px;
    color: black;
    display: block;
}

.mypage {
    position: relative;
    background: url(../img/user\ icon-1.png) center/80% 80% no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 10px;
}

.mypage:hover {
    background: url(../img/user\ icon\ hover.png) center/80% 80% no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 10px;
}

.cart {
    background: url(../img/cart.png) center/80% 80% no-repeat;
    margin-top: 5px;
    margin-left: 10px;
    width: 55px;
    height: 55px;
}

.cart:hover {
    background: url(../img/cart\ hover.png) center/80% 80% no-repeat;
    margin-top: 5px;
    margin-left: 10px;
    width: 55px;
    height: 55px;
}

.like {
    background: url(../img/heart.png) center/80% 80% no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 12px;
    margin-left: 10px;
}

.like:hover {
    background: url(../img/heart_hover.png) center/80% 80% no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 12px;
    margin-left: 10px;
}

/* ----------- .category 부분 --------------- */

.category_bar ul.category {
    box-sizing: border-box;
}

.category_bar ul.category>li {
    border-bottom: 5px solid white;
}

.category_bar>div>ul.category {
    /* background-color: #ffe4c4; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.category_bar ul>li {
    position: relative;
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 19px;

}

.category_bar ul>li li:hover {
    font-weight: bold;
    background-color: #5ce5cf;
    transition: 1s;
}

.category_bar ul>li li {
    font-size: 16px;
    font-weight: initial;
}

.category_bar ul.category>li>a {
    color: black;
}

.category_bar ul.category>li:hover>a {
    color: #5ce5cf;
}

.category_bar ul>li:hover {
    border-bottom-color: #5ce5cf;
}

.category_bar>div>ul.category>li {
    float: left;
    line-height: 50px;
    padding: 10px;
}

.category_bar::after {
    content: "";
    display: block;
    clear: left;
}

.category_bar ul ul {
    display: none;
    position: absolute;
    background-color: white;
    color: gray;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 3px 3px 3px rgb(197, 197, 197);
}

.category_bar ul.category ul li {
    width: 100%;
}

.category_bar ul>li:hover ul {
    display: block;
    z-index: 1;
}

.category_bar ul.category ul>li>a {
    color: black;
}

.category_bar ul.category ul>li:hover>a {
    color: white;
}

/* ----------- .main 부분 --------------- */

main .fixed-banner {
    display: flex;
    position: relative;
}

main>.fixed-banner a>.right_TOP,
main>.fixed-banner a>.right_FAQ,
main>.fixed-banner a>.right_kakao {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 5px;
    bottom: 100px;
    Z-index: 1;
    background-color: #f0efe9;
}

main>.fixed-banner a>.right_TOP {
    bottom: 140px;
}

main>.fixed-banner a>.right_FAQ {
    bottom: 60px;
}

/* -----------------footer부분-------------------- */

footer {
    margin-top: 5em;
    width: 100%;
    background-color: hsla(53, 100%, 98%, 0.955);
}

footer .hr_footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer>.under {
    width: 1450px;
    margin: 5px auto;
    display: flex;
    /* justify-content: space-evenly; */
}

footer .under_menu1 {
    font-size: 12px;
    padding: 10px;
    display: flex;
}

footer .under_menu1>li {
    margin: 0 50px;
    display: flex;
}

footer .under_menu1 a,
footer .info {
    color: hwb(0 49% 50%);
}

footer .info {
    font-size: 12px;
    padding-bottom: 40px;
    width: 1450px;
    margin: 40px auto 0 auto;
    line-height: 150%;
}

footer ul>li>button {
    cursor: pointer;
    background: none;
    border: none;
}